@-webkit-keyframes rotate { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-200deg); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotate { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-200deg); 
        opacity: 1; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 

.add-actors-block {
	li {
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 16px;
		color: #424242;
		height: 20px;
		margin-top: 7px;
		width: 250px;
	}
	.add-actor-field {
		width: 140px;
		font-size: 16px;
		height: 50px;
	}
	.fa-plus {
		color: #E91E63;
		font-size: 17px;
		position: relative;
		left: 20px;
		cursor: pointer;
	}

	.fa-plus:hover {
		-webkit-animation-duration: 1s; 
	    animation-duration: 1s; 
	    -webkit-animation-fill-mode: both; 
	    animation-fill-mode: both;
	    -webkit-animation-name: rotate; 
    	animation-name: rotate;
	}

	@media (max-width: 500px) {
		.add-actor-field {
			width: 200px;
			font-size: 16px;
			height: 50px;
		}
		.fa-plus {

			bottom: 5px;
		}
	}
}