.movie-details {
	min-height: 100%;
	display: flex;
	width: 100%;

	.movie-info {
		width: 400px;
		min-height: 300px;
		background-color: #ffffff;
		margin: auto;
		margin-top: 60px;

		h2 {
			text-align: center;
			color: #E91E63;
			font-weight: 500;
			padding:25px 10px;
		}

		

		.movie-info-body {
			padding-left: 20px;
			padding-bottom: 40px;

			p {

				font-size: 16px;

				strong {
					display: block;
					width:50%;
					float: left;
				}
			}
			.actors-list {
				padding-top: 15px;
				line-height: 33px;
			}
		}

	}
}