.movies {
	width: 100%;
	heigth: 100%;
	max-width: 900px;
	margin: 0 auto;

	.no-movies-found {
		text-align: center;
		width: 100%;
		font-size: 20px;
		padding-top: 40px;
	}
}

.clearfix {
	clear: both;
}